:root {
  --sidebar: #0b0b0b;
  --white: #e0dddd;
  --green: #6ca67e;
  --gray: #b4afaf;
  --light-green: #97f0b3;
}

html {
  height: 100%;
}

@font-face {
  font-family: "Hagrid.ttf";
  src: url("./fonts/Hagrid.ttf") format("truetype");
}


body {
  background-image: linear-gradient(#237e40, #000);
  inset: 0;
  position: fixed;
}


.space {
  --size: 0.2%;
  --space-layer: 
    4vw 50vh 0 #fff,
    18vw 88vh 0 #fff,
    73vw 14vh 0 #fff;
  
  width: var(--size);
  height: var(--size);
  background: white;
  box-shadow: var(--space-layer);
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  opacity: 0.75;
}

.space {
   animation: move var(--duration) linear infinite;
}

@keyframes move {
  from { transform: translateY(0); }
  to { transform: translateY(-100vh); }
}

* {
  margin: 0;
  top: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
  cursor: default;
}

body {
  font-family: "Hagrid", sans-serif;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.star-container {
  pointer-events: none;
}


.space {
  pointer-events: none;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35vw;
  border-radius: 10px;
  padding: 30px;
  background-color: #0000001e;
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 6px 14px 2px var(--green);
-moz-box-shadow: 0px 6px 14px 2px var(--green);
box-shadow: 0px 6px 14px 2px var(--green);
}

.title {
  margin-bottom: 50px;
}
input {
  width: 30vw;
  height: 50px;
  background-color: var(--background);
  border: 1px solid var(--green);
  border-radius: 50px;
  padding-left: 10px;
  transition: all 0.1s ease-in-out;
  margin-bottom: 20px;
  color: var(--gray);
}

input:hover {
  outline: 1px dashed var(--green);
  outline-offset: 2px;
  border: 1px solid var(--background);
  cursor: pointer;
}

input:focus {
  outline: 2px dashed var(--light-green);
  outline-offset: 2px;
  border: 1px solid var(--background);
}

form h2 {
  margin-left: 20px;
  margin-bottom: 5px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: var(--gray);
  background-color: var(--background);
  border: 1px solid var(--green);
  padding: 10px 40px 10px 40px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  color: var(--background);
  background-color: var(--green);
  cursor: pointer;
}

p {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: var(--green);
  cursor: pointer;
}

.password-container {
  position: relative;
  width: 30vw;
}

form .logout-button{
  color: black;
}

.eye-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eye-icon svg {
  width: 100%;
  transform: translateY(-10px);
  height: 100%;
  display: block;
  transition: 0.2 ease-in-out;

}

.eye-icon svg path {
    transition: stroke 0.3s ease;
}

.eye-icon:hover svg path {
    stroke: var(--green); 
    cursor: pointer;
}