:root {
    --sidebar: #0B0B0B; 
    --white: #e0dddd;
    --green: #6CA67E;
    --background: #1C1D20;
    --light-green: #97f0b3;
}

@font-face {
    font-family: 'Hagrid.ttf';
    src: url('./fonts/Hagrid.ttf') format('truetype');
}

* {
    margin: 0;
    top: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}

body {
    font-family: 'Hagrid', sans-serif;
    background-color: var(--background);
    display: flex;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling on the body */
}

aside {
    position: relative;
    flex-direction: column;
    display: flex;
    height: 100vh;
    width: 22vw;
    background-color: var(--sidebar);
    border-right: 1px solid var(--green);
    overflow: none;
}

.top {
    padding: 20px 0px 0px 20px;
    display: flex;
}

.text-top {
    display: flex;
    align-items: center;
    margin-left: 0.6vw;
}

.top img {
    border-radius: 100%;
}

aside h1 {
    padding-top: 7vh;
    padding-bottom: 4vh;
    font-size: clamp(0.5em, 2.8rem, 12em);
    margin-left: 2vw;
}

ul li {
    margin-top: 20px;
    list-style: none;
}

ul li div {
    display: flex;
}

ul li h4 {
    font-size: clamp(0.5em, 1.4rem, 2em);
    margin-left: 10px;
}

ul li {
    margin-left: 25%;
}

.colaboradores {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 10px;
}

.bottom {
    margin-top: auto;
    margin-bottom: 30px;
}

.bottom h3 {
    text-align: center;
}

.colaboradores img {
    border-radius: 100%;
}

ul li .option {
    padding-top: 10px;
    max-width: fit-content;
}

ul li .option:hover {
    cursor: pointer;
    color: var(--green);
}

ul li .option:hover svg path,
ul li .option:hover h4 {
    fill: var(--green);
    color: var(--green);
}

ul li .option.active h4,
ul li .option.active svg path {
    color: var(--light-green) !important;
    fill: var(--light-green) !important;
}

.option svg, 
.option h4,
.option svg path {
    transition: all 0.2s ease-in;
}

.content {
    display: none;
}

#activity {
    display: block;
}

.game-holder {
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    gap: 50px;
    margin-top: 20px;
    height: 100vh;
    width: 100%; 
}

.game-holder img {
    border-radius: 20px;
}

.content.library {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    height: 100%; 
}

main {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-grow: 1;
    overflow: auto; 
}

.game {
    display: flex;
    flex-direction: column;
}

.game img {
    border-radius: 20px;
    margin-bottom: 10px;
}

.game p {
    margin-left: 20px;
    color: var(--white);
    font-size: 1.5rem;

}
